@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
/*font-family: 'Montserrat', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/*font-family: 'Open Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");
/*font-family: 'Noto Sans', sans-serif;*/
@font-face {
  font-family: "Harabara.ttf";
  src: url(../fonts/Harabara.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Harabara.ttf", sans-serif;
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 44px;
  color: #194484;
  line-height: 1.36;
}

h2 {
  font-size: 36px;
  color: #194484;
  letter-spacing: 4px;
}

h3 {
  font-size: 24px;
  color: #0D6EB7;
  line-height: 1.6;
}

h4 {
  font-family: "Harabara.ttf";
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  color: white;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  width: 160px;
  height: 42px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #06B25F;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

span {
  font-family: "Montserrat", sans-serif;
}

.TopButton {
  border: 2px solid #06B25F;
  background-color: white;
  color: #06B25F;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Top_H1 {
  color: white;
  letter-spacing: 3px;
}

.Top_p {
  color: white;
  margin: 18px 0px 43px 0px;
}

a:hover {
  text-decoration: underline;
}

main {
  padding-top: 140px;
}

/*Header*/
header {
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  padding-top: 7px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.Header__Container {
  max-width: 1360px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10PX 20px;
}

header a:hover {
  text-decoration: none;
}

.Active_Page {
  border-bottom: 3px solid #00A4E8;
}

/*Social bar*/
.Social_Bar_Right {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Social_Bar_Right > ul {
  -webkit-box-shadow: 0px 2px 12px rgba(29, 51, 107, 0.25);
  box-shadow: 0px 2px 12px rgba(29, 51, 107, 0.25);
}

.Social_Bar_Right > ul > a {
  display: block;
  background-color: white;
  padding: 12px;
  border-bottom: 1px solid rgba(25, 68, 132, 0.1);
}

.Social_Bar_Right > ul > a:hover {
  background-color: #04d671;
}

.Social_Bar_Right > ul {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.Social_Bar_Right img {
  width: 24px;
  height: 24px;
}

/*Current_Page*/
.Current_Page {
  margin: 0 auto 40px;
  max-width: 1400px;
  padding: 0 20px;
}

.Current_Page > a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #194484;
  font-weight: 400;
}

.Current_Page > svg {
  width: 9px;
  height: 5px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-bottom: 2px;
  fill: #0D6EB7;
}

/*blog*/
.Blog_Container {
  background-image: url(../Images/blogBg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.Blog_Container a:hover {
  text-decoration: none;
}

.Blog_Body {
  margin: 0 auto;
  max-width: 1360px;
}

.Blog_Body_item {
  max-width: 1130px;
  margin: 60px auto 80px auto;
}

.Blog_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  min-height: 257px;
  margin-bottom: 64px;
  overflow: hidden;
  cursor: pointer;
}

.Blog_item:hover {
  -webkit-box-shadow: 0 0 10px #04d671;
  box-shadow: 0 0 10px #04d671;
}

.Blog_item_left {
  max-width: 330px;
}

.Blog_item_left_image {
  width: 100%;
  height: 100%;
}

.Blog_item_right {
  background-color: white;
  width: 100%;
  padding: 20px 55px 20px 40px;
}

.Blog_item_right_Top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  color: #242424;
}

.Blog_Rating_star {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Rating_star_grey {
  background-image: url(../Images/Icons/StarGrey.webp);
  background-repeat: repeat-x;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}

.Rating_star:last-of-type {
  margin-right: 0;
}

.Rating_star_green {
  background-image: url(../Images/Icons/Star.webp);
  background-repeat: repeat-x;
  width: 0px;
  height: 24px;
  position: absolute;
  z-index: 1;
}

.Star_item {
  width: 24px;
}

.Blog_TimeRead {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Blog_Views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Blog_Right_svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.Blog_item_right_Middle {
  margin-bottom: 16px;
}

.Blog_item_right_Middle > h3,
p {
  color: #242424;
}

.Blog_item_right_Middle > h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.Blog_item_right_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Blog_Author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid black;
  padding-right: 12px;
}

.Blog_Author > a > picture > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.Blog_Author_Name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  color: #242424;
}

.Blog_Date {
  margin-left: 12px;
}

/*Button Page*/
.ButtonPage_Container {
  max-width: 318px;
  max-height: 38px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ButtonPage_Container span {
  color: #194484;
  font-size: 24px;
  margin-right: 45px;
  font-family: "Harabara.ttf";
  letter-spacing: 1.4px;
}

.ButtonPage_Current {
  color: #00A4E8 !important;
}

.ButtonPage_Container span:last-of-type {
  margin-right: 0px;
}

.ButtonPage_left,
.ButtonPage_right {
  cursor: pointer;
  width: 20px;
  height: 12px;
}

.ButtonPage_left {
  margin-right: 12px;
}

.ButtonPage_right {
  margin-left: 12px;
}

.ButtonPage_Container svg {
  width: 20px;
  height: 12px;
  fill: #194484;
  margin-top: 5px;
}

.Select_Page {
  cursor: pointer;
}

.ButtonPage_left_svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ButtonPage_right_svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*Footer*/
footer {
  background-image: url(../Images/bg/FOOTER.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding-top: 290px;
}

.Footer_top {
  max-width: 1290px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

.Footer_top a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

.Footer_top li {
  margin-bottom: 25px;
}

.Footer_top ul {
  padding-left: 23px;
}

.Footer_top h4 {
  margin-bottom: 27px;
}

.Footer_Social {
  max-width: 211px;
  margin-right: 115px;
}

.Footer_Social_logo {
  margin-bottom: 50px;
}

.Footer_Social_logo span {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  margin-top: 12px;
  margin-left: 3px;
}

.Footer_Social_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Footer_Social_link_item {
  margin-right: 45px;
  margin-bottom: 40px;
}

.Footer_Social_link_item svg {
  width: 40px;
  height: 40px;
  fill: white;
}

.Footer_Social_link_item svg:hover {
  fill: #66D6A0;
}

.Footer_Social_link_item:nth-child(3n+3) {
  margin-right: 0;
}

.Footer_Social_link_item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.Footer_top_block_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
}

.Footer_Products a {
  font-family: "Harabara.ttf";
  font-size: 20px;
  letter-spacing: 2px;
}

.Footer_bottom {
  background-color: white;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 123px;
}

.Footer_bottom span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4C4C4C;
}

.Footer_bottom_policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Footer_bottom_policy_item {
  margin-right: 114px;
}

@media (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
  }
}
@media (max-width: 1440px) {
  .Blog_Body {
    margin: 0 20px 0 20px;
  }
}
@media (max-width: 1152px) {
  .Header__IMG > img {
    width: 165px;
  }

  .Header_Navigation_item {
    font-size: 14px;
  }

  .Header__Container button {
    font-size: 14px;
    height: 35px;
    width: 125px;
  }

  .Blog_item_right_Top {
    margin-bottom: 10px;
  }

  .Blog_item_right_Middle {
    margin-bottom: 10px;
  }

  .Blog_item_right_Middle > h3 {
    font-size: 20px;
  }

  footer {
    background-position: 0 0;
    background-size: auto;
  }

  .Footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    background-color: #194484;
  }

  .Footer_Social_logo {
    text-align: center;
  }

  .Footer_Social_link {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .Footer_Social {
    max-width: 680px;
    width: 100%;
    margin: 0;
  }

  .Footer_Social_link_item {
    margin-right: 20px !important;
    margin-bottom: 0 !important;
  }

  .Footer_Services, .Footer_Technologies,
.Footer_Products {
    margin-right: 30px;
  }

  .Footer_top_block_right {
    padding-top: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 100%;
  }

  .Footer_top ul {
    padding-left: 0;
  }

  .Footer_bottom {
    padding: 10px;
  }

  .Footer_bottom_policy {
    margin-left: 20px;
  }

  .Footer_bottom_policy_item {
    margin-right: 20px;
    max-width: 125px;
  }

  .Footer_bottom_policy_item:last-of-type {
    margin-right: 0;
  }
}
@media (min-width: 1025px) {
  .Header__IMG {
    padding-bottom: 20px;
  }

  .Header_Navigation {
    max-width: 696px;
    width: 100%;
    margin: 0 10px;
  }

  .Header_Navigation > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .Header_Navigation_item {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #0D6EB7;
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .Header_Navigation_item:hover.Header_Navigation_item > a {
    color: #44C9FF;
  }

  .Header_Navigation_item:hover .Header_Navigation_Sub_Menu {
    display: block;
  }

  .Header_Navigation_item:hover .Header_Navigation_arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .Header_Navigation_item > a {
    color: #0D6EB7;
  }

  .Header_Navigation_arrow {
    Width: 10px;
    Height: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    fill: #0D6EB7;
  }

  .Header_Navigation_Sub_Menu {
    display: none;
    position: absolute;
    padding-top: 10px;
    -webkit-animation: SubMenuShow 0.5s forwards;
    animation: SubMenuShow 0.5s forwards;
  }

  @-webkit-keyframes SubMenuShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes SubMenuShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .Header_Navigation_Sub_Menu ul {
    background-color: white;
    border-top: 3px solid #00A4E8;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.4);
    box-shadow: 2px 4px 16px rgba(158, 158, 158, 0.4);
    padding: 12px;
  }

  .Header_Navigation_Sub_Menu > ul > li {
    white-space: nowrap;
    margin-bottom: 23px;
  }

  .Header_Navigation_Sub_Menu > ul > li:last-of-type {
    margin-bottom: 0px;
  }

  .Header_Navigation_Sub_Menu > ul > li > a {
    text-transform: uppercase;
    color: #0D6EB7;
  }

  .Header_Navigation_Sub_Menu > ul > li > a:hover {
    color: #08A4E4;
  }

  .TopButton.Header_button:hover {
    background-color: #06B25F;
    border-color: #06B25F;
    color: white;
  }
}
@media (max-width: 1024px) {
  .Header__Container button {
    display: block;
    width: 160px;
    border: 2px solid #2DA531;
    background-color: rgba(0, 0, 0, 0);
    color: #2DA531;
  }

  .Header__IMG {
    padding-bottom: 20px;
  }

  .Header_Mob_Navigation {
    display: block;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    padding: 15px 15px 40px 35px;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
  }

  .Header_Mob_Navigation.active {
    -webkit-box-shadow: 5px 0px 17px black;
    box-shadow: 5px 0px 17px black;
    left: 0;
  }

  .Header_Mob_Navigation_arrow {
    fill: #5e9bf8;
    margin-left: 5px;
    Width: 10px;
    Height: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .Header_Mob_Navigation_arrow.active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .Header_Mob_Navigation > ul > li > a,
.Header_Mob_Sub_Navigation > li > a {
    color: #5e9bf8;
    text-transform: uppercase;
    font-weight: 600;
  }

  .Header_Mob_Navigation_close {
    font-family: "Harabara.ttf";
    color: #06B25F;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: end;
  }

  .Header_Mob_Navigation > ul > li,
.Header_Mob_Sub_Navigation > li {
    margin-bottom: 15px;
  }

  .Header_Mob_Navigation > ul > li:last-of-type {
    margin-bottom: 30px;
  }

  .Header_Mob_svg {
    fill: #194484;
    width: 26px;
    height: 20px;
    cursor: pointer;
  }

  .Header_Mob_logo span {
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    margin-top: 12px;
    margin-left: 3px;
    color: white;
  }

  .Header_Mob_Sub_Navigation {
    display: none;
    margin: 10px 0 10px 20px;
  }

  .Header_Mob_Sub_Navigation.active {
    display: block;
  }
}
@media (max-width: 970px) {
  .Blog_item_right_Middle > p {
    font-size: 14px;
  }
}
@media (min-width: 941px) {
  .Social_Bar_Right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 780px) {
  .Blog_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: none;
  }

  .Blog_Body_item {
    max-width: 630px;
  }

  .Blog_item_left {
    max-width: none;
  }

  .Blog_item_right {
    padding: 20px;
  }

  .Blog_item_left_image {
    max-height: 350px;
  }

  .Footer_top_block_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
  }

  .Footer_Services, .Footer_Technologies,
.Footer_Products {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media (max-width: 610px) {
  .Header_Mob_Navigation {
    left: -80%;
    width: 80%;
  }
}
@media (max-width: 500px) {
  .Blog_item_right {
    padding: 10px;
  }

  .Rating_star_grey {
    margin-right: 0;
  }

  .Blog_Rating_star {
    margin-right: 5px;
  }

  .Blog_TimeRead {
    margin-right: 5px;
  }

  .Blog_item_right_Middle > h3 {
    font-size: 17px;
  }

  .ButtonPage_Container span {
    margin-right: 20px;
  }
}
@media (max-width: 370px) {
  .Header_Mob_logo img {
    max-width: 160px;
  }
}
@media (max-width: 320px) {
  .Blog_TimeRead {
    display: none;
  }
}